@model uvrp.Template

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h2>Details</h2>
<input type="hidden" id="addClass" value="1" />
<div>
    <h4>Template</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PageName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Section)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Section)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsImage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsImage)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
