@model uvrp.WorkForce

@{
    ViewBag.Title = "Details"; Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h2>Details</h2>
<input type="hidden" id="addClass" value="1" />
<div>
    <h4>WorkForce</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PriorityNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PriorityNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DownloadFileName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DownloadFileName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
